@model EventOrganizerDomain.Model.Event

@{
    ViewData["Title"] = "Деталі події";
}

<div class="event-details-container">
    @if (!string.IsNullOrEmpty(Model.PictureUrl))
    {
        <div class="event-image" style="background-image: url('@Model.PictureUrl')"></div>
    }

    <div class="event-info">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <p><strong>@Model.Speaker:</strong> @Model.Speaker</p>
        <p><strong>Date:</strong> @Model.DateTimeStart.ToString("dd MMMM yyyy, HH:mm, ddd") - @Model.DateTimeEnd.ToString("HH:mm, ddd")</p>
        <p><strong>Price:</strong> @if (Model.Price.HasValue && Model.Price.Value != 0)
            {
                @Model.Price
            }
            else
            {
                <span class="text-success">FREE</span>
            }</p>
        <p><strong>Capacity:</strong> @Model.Capacity</p>
        <p><strong>Created At:</strong> @Model.CreatedAt.ToString("dd MMMM yyyy, HH:mm")</p>
        <p><strong>Last Updated At:</strong> @Model.LastUpdatedAt.ToString("dd MMMM yyyy, HH:mm")</p>
        <p><strong>Place:</strong> @Model.Place.Name</p>

        <div class="organizers">
            <h4>Organizers:</h4>
            @foreach (var organizer in Model.Organizers)
            {
                <span>@organizer.OrganizationOrFullName</span>
            }
        </div>

        <div class="tags">
            <h4>Tags:</h4>
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag.Title</span>
            }
        </div>
    </div>
</div>

<div class="action-links">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">До дошки оголошень</a>
</div>
