@model EventOrganizerDomain.Model.Event

@{
    ViewData["Title"] = "Про подію";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="event-details-container">
    @if (!string.IsNullOrEmpty(Model.PictureUrl))
    {
        <div class="event-image" style="background-image: url('@Model.PictureUrl')"></div>
    }

    <div class="event-info">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.Speaker))
        {
            <strong>Speaker:</strong> @Model.Speaker

            <br />
        }
        <p><strong>Дата:</strong> @Model.DateTimeStart.ToString("dd MMMM yyyy, HH:mm, ddd") - @Model.DateTimeEnd.ToString("HH:mm, ddd")</p>
        <p>
            <strong>Ціна:</strong> @if (Model.Price.HasValue && Model.Price.Value != 0)
            {
                @Model.Price
            }
            else
            {
                <span class="text-success">FREE</span>
            }
        </p>
        <p><strong>Кількість місць:</strong> @Model.Capacity</p>
        <p><strong>Створено:</strong> @Model.CreatedAt.ToString("dd MMMM yyyy, HH:mm")</p>
        <p><strong>Оновлено в останній раз:</strong> @Model.LastUpdatedAt.ToString("dd MMMM yyyy, HH:mm")</p>
        <p>
            <strong>Місце:</strong> <a asp-controller="Places" asp-action="Details" asp-route-id="@Model.Place.Id">@Model.Place.Name</a>
            @if (Model.Place.Name != "online")
            {
                <span>@Model.Place.AddressLine1 @Model.Place.AddressLine2, @Model.Place.City.Name</span>
            }

            <br />

        </p>

        <div class="organizers">
            <h4>Organizers:</h4>
            @foreach (var organizer in Model.Organizers)
            {
                <span>@organizer.OrganizationOrFullName</span>
            }
        </div>

        <div class="tags">
            <h4>Tags:</h4>
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag.Title</span>
            }
        </div>
    </div>
</div>

<div class="action-links">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">До дошки оголошень</a>
    <a asp-controller="Registration" asp-action="RegisterForEvent" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Зареєструватись</a>
</div>