@model IEnumerable<EventOrganizerDomain.Model.Event>

@{
    ViewData["Title"] = "Події";
}


<div class="content content--top fix">

    <div class="page-header">
        <h1>Усі події</h1>
    </div>


    <p>
        <a asp-action="Create">Додати подію</a>
    </p>


    <div class="row row-cols-1 row-cols-md-4 g-3">
        @foreach (var e in Model)
        {
            <div class="col">
                <div class="card h-500 event-card" style=" height: 500px;">

                    @if (!string.IsNullOrEmpty(e.PictureUrl))
                    {
                        <img src="@e.PictureUrl" class="card-img-top" alt="Постер події">

                    }

                    <div class="card-body d-flex flex-column justify-content-between">

                        <div class="card-text align-items-top">
                            <p class="card-text mt-50"><span class="event_date">@e.DateTimeStart.ToString("dd MMMM, HH:mm, ddd")</span></p>
                            <h5 class="card-title">@e.Title</h5>
                        </div>

                        <div class="card-text align-items-end">
                            <p class="card-text mt-auto mb-15">
                                <span class="event_place">
                                    @if (e.Place.CityId != null)
                                    {
                                        <text>@e.Place.City.Name,</text>
                                    }
                                    @e.Place.Name
                                </span>
                            </p>
                            @if (e.Price.HasValue && e.Price.Value != 0)
                            {
                                <p class="card-text mt-auto mb-0"><strong><span class="event_price">@e.Price</span>₴</strong></p>
                            }
                            else
                            {
                                <p class="card-text mt-auto mb-0"><span class="event_price"><strong>FREE</strong></span></p>
                            }
                        </div>
                        
                    </div>
                        <div class="card-bottom card-buttons">
                        <a asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary btn-details">Деталі</a>
                        <a asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger btn-delete">Видалити</a>
                        </div>
                </div>
            </div>
        }
    </div>
</div>
