@model EventOrganizerDomain.Model.Place

@{
    ViewData["Title"] = "Про місце";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="event-image" style="background-image: url('@Model.ImageUrl')"></div>
            }          
            <h1 class ="page-header">@Html.DisplayFor(model => model.Name)</h1>           

            <p>@Html.DisplayFor(model => model.PlaceType.Name)</p>
            <div class="group">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>

            @if (Model.Name != "online")
            {
                <div class="group">
                    <h4 class="block-header">Контактна інформація</h4>
                    <p><strong>Телефон:</strong> @Html.DisplayFor(model => model.PhoneNumber)</p>
                    <p><strong>Email:</strong> @Html.DisplayFor(model => model.ContactEmail)</p>
                    <p><strong>Веб-сторінка:</strong> <a href="@Html.DisplayFor(model => model.Website)">@Html.DisplayFor(model => model.Website)</a></p>
                </div>

                <div class="group">
                    <h4 class="block-header">Місцезнаходження</h4>
                    <p><strong>Адреса:</strong> @Html.DisplayFor(model => model.AddressLine1), @Html.DisplayFor(model => model.AddressLine2), @Html.DisplayFor(model => model.City.Name), @Html.DisplayFor(model => model.Zip)</p>
                    <p><strong>Кількість місць:</strong> @Html.DisplayFor(model => model.Capacity)</p>
                </div>
            }

            <div class="container mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редагувати</a>
                <a asp-action="Index" asp-route-id="@Model.CityId" class="btn btn-secondary">До інших місць</a>
            </div>
        </div>

        <!-- Добавляем контейнер для карты справа от текста о месте -->
        <div class="col-md-6">
            <div class="container content" id="map" style="height: 400px;"></div>
        </div>
    </div>
</div>
<div class="container mt-4">
    
        <h2 class ="block-header">Події в @Model.Name</h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-3">
        @foreach (var eventItem in Model.Events)
        {
            <div class="col">
                <div class="card event-card">
                    @if (!string.IsNullOrEmpty(eventItem.PictureUrl))
                    {
                        <img src="@eventItem.PictureUrl" class="card-img-top" alt="Постер події">
                    }
                    <div class="card-body">
                        <div class="card-text align-items-top">
                            <p class="card-text mt-50 event-date">@eventItem.DateTimeStart.ToString("dd MMMM, HH:mm, ddd")</p>
                            <h5 class="card-title">@eventItem.Title</h5>
                            <div class="organizers">
                                <p>
                                    @foreach (var organizer in eventItem.Organizers.Take(2))
                                    {
                                        <span>@organizer.OrganizationOrFullName</span>
                                        if (!organizer.Equals(eventItem.Organizers.Last()) && eventItem.Organizers.Count() > 1)
                                        {
                                            <span>, </span>
                                        }
                                    }
                                    @if (eventItem.Organizers.Count() > 2)
                                    {
                                        <span>, ...</span>
                                    }
                                </p>
                            </div>
                            <div class="tags">
                                @foreach (var tag in eventItem.Tags.Take(3))
                                {
                                    <span class="tag">@tag.Title</span>
                                }
                            </div>
                        </div>
                        <p class="event-price align-items-end">
                            @if (@eventItem.Price.HasValue && @eventItem.Price.Value != 0)
                            {
                                <strong>від @eventItem.Price₴</strong>
                            }
                            else
                            {
                                <strong>FREE</strong>
                            }
                        </p>
                    </div>
                    <div class="card-bottom card-buttons">
                        <a asp-controller="Events" asp-action="Details" asp-route-id="@eventItem.Id" class="btn btn-primary btn-details">Деталі</a>
                        <a asp-controller="Events" asp-action="Delete" asp-route-id="@eventItem.Id" class="btn btn-danger btn-delete">Видалити</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <!-- Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Карта -->
    <script>

        var coordinatesString = '@Model.CoordinatesCol2';
        var geometryType = '@Model.CoordinatesCol1?.GeometryType';


        if (coordinatesString) {

            var map = L.map('map').setView([0, 0], 13);

            // OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);


            if (geometryType === 'Point') {
                var coordinates = coordinatesString.substring(coordinatesString.indexOf("(") + 1, coordinatesString.indexOf(")")).split(' ');
                var lat = parseFloat(coordinates[1]);
                var lng = parseFloat(coordinates[0]);

                L.marker([lat, lng]).addTo(map)
                    .bindPopup('@Model.Name');

                map.setView([lat, lng], 13);
            }

            if (geometryType === 'Polygon') {
                var coordinatesArray = coordinatesString.match(/\d+\.\d+/g);

                var polygonPoints = [];

                for (var i = 0; i < coordinatesArray.length; i += 2) {
                    var lat = parseFloat(coordinatesArray[i]);
                    var lng = parseFloat(coordinatesArray[i + 1]);
                    polygonPoints.push([lat, lng]);
                }

                L.polygon([polygonPoints]).addTo(map).bindPopup('@Model.Name');

                var bounds = L.polygon([polygonPoints]).getBounds();
                map.fitBounds(bounds);
            }
        }
        else { document.getElementById('map').style.display = 'none'; }

    </script>
}

<style>
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .page-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 9px;
        margin-bottom: 20px;
    }

    .event-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .group {
        margin-bottom: 30px;
    }

    .group h4 {
        margin-bottom: 10px;
    }

    .btn-details, .btn-delete {
        margin-right: 10px;
    }

    .card {
        margin-bottom: 20px;
    }

    .event-date {
        font-size: 12px;
        color: #6c757d;
        margin-bottom: 5px;
    }

    .event-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .organizers {
        margin-bottom: 10px;
    }

    .tag {
        display: inline-block;
        background-color: #f1f1f1;
        color: #000;
        padding: 4px 8px;
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .event-price {
        font-size: 16px;
        font-weight: bold;
    }

    .card-bottom {
        margin-top: 10px;
    }

    .btn-details, .btn-delete {
        margin-right: 10px;
    }
</style>